<div class="d--flex flex__direction--row">
    <button class="m__e--4">{{'LIST.UPLOAD' | translate }}</button>
    <app-search-control (doSearch)="doSearch($event)"></app-search-control>
</div>

<div
    class="m__t--3 w--100 d--flex flex__direction--row flex__wrap pos--relative gap--4" 
    scrollTracker 
    (scrollingFinished)="onScrollingFinished()"
>
    <ng-container *ngIf="gifs.length; else noGifs">
        <app-gif-item 
            *ngFor="let gif of gifs; let i = index"
            [gif]="gif"
            [row]="gifRow(i)"
            (gifCached)="onGifCached(gif)"
        ></app-gif-item>
    </ng-container>
</div>

<ng-template #noGifs>
    <div class="d--flex justify__content--center w--100">{{'LIST.NO_GIF' | translate: {'text': paginator.q} }}</div>
</ng-template>