/* You can add global styles to this file, and also import other style files */
@import './assets/styles';

html,
body {
    max-width: $content-width;
    margin: 0 auto;
    background-color: $background-theme;
    font-size: $fs-normal;
    font-weight: $fw-normal;
    color: $content-color;
}
